<%= form_with(model: taskattachment, local: true) do |form| %>
  <% if taskattachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(taskattachment.errors.count, "error") %> prohibited this taskattachment from being saved:</h2>

      <ul>
      <% taskattachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
