.container-fluid.container-fixed-lg.footer
  .copyright.sm-text-center
    %p.small.no-margin.pull-left.sm-pull-reset
      %span.hint-text Copyright © 2017
      = succeed "." do
        %span.font-montserrat REVOX
      %span.hint-text All rights reserved.
      %span.sm-block
        %a.m-l-10.m-r-10{:href => "#"} Terms of use
        %span.muted |
        %a.m-l-10{:href => "#"} Privacy Policy
    %p.small.no-margin.pull-right.sm-pull-reset
      Hand-crafted
      %span.hint-text &amp; made with Love
    .clearfix