%script{:src => asset_url("/assets/admin/plugins/pace/pace.min.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/jquery/jquery-1.11.1.min.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/modernizr.custom.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/jquery-ui/jquery-ui.min.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/tether/js/tether.min.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/bootstrap/js/bootstrap.min.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/jquery/jquery-easy.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/jquery-unveil/jquery.unveil.min.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/jquery-ios-list/jquery.ioslist.min.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/jquery-actual/jquery.actual.min.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/jquery-scrollbar/jquery.scrollbar.min.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/select2/js/select2.full.min.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/classie/classie.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/switchery/js/switchery.min.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/nvd3/lib/d3.v3.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/nvd3/nv.d3.min.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/nvd3/src/utils.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/nvd3/src/tooltip.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/nvd3/src/interactiveLayer.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/nvd3/src/models/axis.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/nvd3/src/models/line.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/nvd3/src/models/lineWithFocusChart.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/mapplic/js/hammer.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/mapplic/js/jquery.mousewheel.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/mapplic/js/mapplic.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/rickshaw/rickshaw.min.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/jquery-metrojs/MetroJs.min.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/jquery-sparkline/jquery.sparkline.min.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/skycons/skycons.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/pages/js/pages.min.js", :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/js/dashboard.js"), :type => "text/javascript"}/
%script{:src => asset_url("/assets/admin/js/scripts.js"), :type => "text/javascript"}/