.header
	%a.btn-link.toggle-sidebar.hidden-lg-up.pg.pg-menu{"data-toggle" => "sidebar", :href => "#"}
	%div
		.brand.inline
			%img{:alt => "logo", "data-src" => "assets/img/logo.png", "data-src-retina" => "assets/img/logo_2x.png", :height => "22", :src => "assets/img/logo.png", :width => "78"}/
		%ul.hidden-md-down.notification-list.no-margin.hidden-sm-down.b-grey.b-l.b-r.no-style.p-l-30.p-r-20
			%li.p-r-10.inline
				.dropdown
					%a#notification-center.header-icon.pg.pg-world{"data-toggle" => "dropdown", :href => "javascript:;"}
						%span.bubble
					.dropdown-menu.notification-toggle{"aria-labelledby" => "notification-center", :role => "menu"}
						.notification-panel
							.notification-body.scrollable
								.notification-item.unread.clearfix
									.heading.open
										%a.text-complete.pull-left{:href => "#"}
											%i.pg-map.fs-16.m-r-10
											%span.bold Carrot Design
											%span.fs-12.m-l-10 David Nester
										.pull-right
											.thumbnail-wrapper.d16.circular.inline.m-t-15.m-r-10.toggle-more-details
												%div
													%i.fa.fa-angle-left
											%span.time few sec ago
										.more-details
											.more-details-inner
												%h5.semi-bold.fs-16
													“Apple’s Motivation - Innovation
													%br/
													distinguishes between
													%br/
													A leader and a follower.”
												%p.small.hint-text
													Commented on john Smiths wall.
													%br/
													via pages framework.
									.option{"data-placement" => "left", "data-toggle" => "tooltip", :title => "mark as read"}
										%a.mark{:href => "#"}
								.notification-item.clearfix
									.heading
										%a.text-danger.pull-left{:href => "#"}
											%i.fa.fa-exclamation-triangle.m-r-10
											%span.bold 98% Server Load
											%span.fs-12.m-l-10 Take Action
										%span.pull-right.time 2 mins ago
									.option
										%a.mark{:href => "#"}
								.notification-item.clearfix
									.heading
										%a.text-warning-dark.pull-left{:href => "#"}
											%i.fa.fa-exclamation-triangle.m-r-10
											%span.bold Warning Notification
											%span.fs-12.m-l-10 Buy Now
										%span.pull-right.time yesterday
									.option
										%a.mark{:href => "#"}
								.notification-item.unread.clearfix
									.heading
										.thumbnail-wrapper.d24.circular.b-white.m-r-5.b-a.b-white.m-t-10.m-r-10
											%img{:alt => "", "data-src" => "assets/img/profiles/1.jpg", "data-src-retina" => "assets/img/profiles/1x.jpg", :height => "30", :src => "assets/img/profiles/1.jpg", :width => "30"}/
										%a.text-complete.pull-left{:href => "#"}
											%span.bold Revox Design Labs
											%span.fs-12.m-l-10 Owners
										%span.pull-right.time 11:00pm
									.option{"data-placement" => "left", "data-toggle" => "tooltip", :title => "mark as read"}
										%a.mark{:href => "#"}
							.notification-footer.text-center
								%a{:href => "#"} Read all notifications
								%a.portlet-refresh.text-black.pull-right{"data-toggle" => "refresh", :href => "#"}
									%i.pg-refresh_new
			%li.p-r-10.inline
				%a.header-icon.pg.pg-link{:href => "#"}
			%li.p-r-10.inline
				%a.header-icon.pg.pg-thumbs{:href => "#"}
		%a.search-link.hidden-md-down{"data-toggle" => "search", :href => "#"}
			%i.pg-search>
			Type anywhere to
			%span.bold search
	.d-flex.align-items-center
		.pull-left.p-r-10.fs-14.font-heading.hidden-md-down
			%span.semi-bold David
			%span.text-master Nest
		.dropdown.pull-right.hidden-md-down
			%button.profile-dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
				%span.thumbnail-wrapper.d32.circular.inline
					%img{:alt => "", "data-src" => "assets/img/profiles/avatar.jpg", "data-src-retina" => "assets/img/profiles/avatar_small2x.jpg", :height => "32", :src => "assets/img/profiles/avatar.jpg", :width => "32"}/
			.dropdown-menu.dropdown-menu-right.profile-dropdown{:role => "menu"}
				%a.dropdown-item{:href => "#"}
					%i.pg-settings_small
					Settings
				%a.dropdown-item{:href => "#"}
					%i.pg-outdent
					Feedback
				%a.dropdown-item{:href => "#"}
					%i.pg-signals
					Help
				%a.clearfix.bg-master-lighter.dropdown-item{:href => "#"}
					%span.pull-left Logout
					%span.pull-right
						%i.pg-power
		%a.header-icon.pg.pg-alt_menu.btn-link.m-l-10.sm-no-margin.d-inline-block{"data-toggle" => "quickview", "data-toggle-element" => "#quickview", :href => "#"}