%head
	%meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
	%meta{:charset => "utf-8"}/
	%meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no", :name => "viewport"}/
	%meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
	%meta{:content => "yes", :name => "apple-touch-fullscreen"}/
	%meta{:content => "default", :name => "apple-mobile-web-app-status-bar-style"}/
	%title TaskManager
	
	= csrf_meta_tags
	= csp_meta_tag

	%link{:href => asset_url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"), :rel => "stylesheet", :type => "text/css"}/

	= stylesheet_pack_tag "taskapp"
	= javascript_pack_tag "taskapp"