%nav.page-sidebar{"data-pages" => "sidebar"}
	.sidebar-header
		%img.brand{:alt => "logo", "data-src" => "assets/img/logo_white.png", "data-src-retina" => "assets/img/logo_white_2x.png", :height => "22", :src => "assets/img/logo_white.png", :width => "78"}/
		.sidebar-header-controls
			%button.btn.btn-xs.sidebar-slide-toggle.btn-link.m-l-20.hidden-md-down{"data-pages-toggle" => "#appMenu", :type => "button"}
				%i.fa.fa-angle-down.fs-16
			%button.btn.btn-link.hidden-md-down{"data-toggle-pin" => "sidebar", :type => "button"}
				%i.fa.fs-12
	.sidebar-menu
		%ul.menu-items
			%li
				%a{:href => "javascript:;"}
					%span.title UI Elements
					%span.arrow
				%span.icon-thumbnail Ui
				%ul.sub-menu
					%li
						%a{:href => "color.html"} Color
						%span.icon-thumbnail c
					%li
						%a{:href => "typography.html"} Typography
						%span.icon-thumbnail t
					%li
						%a{:href => "icons.html"} Icons
						%span.icon-thumbnail i
					%li
						%a{:href => "buttons.html"} Buttons
						%span.icon-thumbnail b
					%li
						%a{:href => "notifications.html"} Notifications
						%span.icon-thumbnail n
					%li
						%a{:href => "modals.html"} Modals
						%span.icon-thumbnail m
					%li
						%a{:href => "progress.html"} Progress &amp; Activity
						%span.icon-thumbnail pa
					%li
						%a{:href => "tabs_accordian.html"} Tabs &amp; Accordions
						%span.icon-thumbnail ta
					%li
						%a{:href => "sliders.html"} Sliders
						%span.icon-thumbnail s
					%li
						%a{:href => "tree_view.html"} Tree View
						%span.icon-thumbnail tv
					%li
						%a{:href => "nestables.html"} Nestable
						%span.icon-thumbnail ns
		.clearfix
